<article class="post">
  <header class="row mb-4 p-1" style="max-height: 10vh;">
    <div class="d-flex col-8" style="align-items: center">
            <h2 class="m-0"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    </div>
    <div class="meta p-1 col-3" style="align-items: center" >
        {{ $.Scratch.Set "dateType" .Date }}

        <time class="published"
            datetime='{{ ($.Scratch.Get "dateType").Format "2006-01-02" }}'>
            {{ ($.Scratch.Get "dateType").Format "January 2, 2006" }}</time>
        {{ if .Site.Params.includeReadingTime }}
            <p>{{ .ReadingTime }} minutos para leer</p>
        {{ end }}
        <!--<a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>-->
    </div>
  </header>
  
  <div class="row">
    <div class="col-5 d-flex mb-5 image center" style="max-height: 25vh; overflow: hidden; max-width: 100%; align-items: center">
      <img src="{{ .Params.img | relURL}}" alt="{{ .Params.title }}" style= "max-width: 100%;">
    </div>
    <div class="col-7">
      {{ $.Scratch.Set "summary" ((delimit (findRE "<p.*?>(.|\n)*?</p>" .Content 1) "") |  truncate 300  | replaceRE "&amp;" "&" | safeHTML) }}
      {{ $.Scratch.Get "summary" }}
    </div>
  </div>
  
  <footer>
    <ul class="actions">
      <li><a href="{{ .RelPermalink }}" class="button big">Seguir Leyendo</a></li>
    </ul>
  {{ .Render "footer-category" }}
  </footer>

</article>

