<article class="post">
  {{ .Render "header" }}

  {{ .Render "featured" }}

  <div class="d-flex justify-content-center mb-5">
    <img src="{{ .Params.img | relURL}}" alt="{{ .Params.title }}" style= "max-width: 100vw; max-height: 50vh">
  </div>

  <div id="content">
    {{ .Content }}
  </div>

  <footer>
    {{ .Render "footer-category" }}
  </footer>

</article>
{{ .Render "comments" }}
{{ .Render "prev-next" }}
