{{ partial "general-title" . }}

{{ partial "header" . }}
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="main">
        <article class="post">
          <header>
              <div class="title">
                  {{ if $.Scratch.Get "h1" }}
                      <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
                      {{ $.Scratch.Set "h1" false }}
                  {{ else }}
                      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                  {{ end }}
                  {{ with .Description }}
                      <p>{{ . }}</p>
                  {{ end }}
              </div>
          </header>
            <div id="content">
                <div class="col-12 row" style="flex-direction: row"> 
                    {{ range .Params.Docs }}
                        <div class="col-6">
                            <a href="{{.link}}" target="_blank" style="font-size:2rem">
                                 {{ .name }}
                            </a> 
                        </div>
                    {{end}}
                </div>  
            </div>
        </article>
        <article class="post">
            <div id="content">
                <div class="row" style="flex-direction: row; justify-content: center"> 
                    {{ range .Params.Docs }}
                    {{ if .img }}
                        <div class="col-4 d-flex my-3" style="align-items:center; justify-content: center">
                            <a href="{{.link}}" target="_blank" class="justify-content-center d-flex " style="font-size:2rem">
                                 <img src="{{.img | relURL}}" alt="{{.name}}" style="max-height: 10vh; max-width: 20 vw">
                            </a> 
                        </div>
                    {{end}}
                    {{end}}
                </div>  
            </div>
        </article>
    </div>
    {{ partial "sidebar" . }}
{{ partial "footer" . }}
