/*@import url(font-awesome.min.css);*/
/*@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900");*/

/*
	Future Imperfect by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)

	Modified/Cleaned for use with Hugo-Future-Imperfect Theme
	gohugo.io | @pacollins
*/

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr,	acronym, address, big, cite, code, del, dfn, em,
	img, ins, kbd, q, s, samp, small, strike, strong,	sub, sup, tt, var, b, u,
	i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
	caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,	details,
	embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby,
	section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu,
	nav, section {
		display: block;
	}

	body {
		line-height: 1;
		-webkit-text-size-adjust: none;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;

	}

	blockquote:before,
	blockquote:after,
	q:before,
	q:after {
		content: '';
		content: none;
	}

	header p {
		font-family: "Raleway", Helvetica, sans-serif;
		font-size: 0.7em;
		font-weight: 400;
		letter-spacing: 0.25em;
		line-height: 2.5;
		margin: -1em 1em 0;
		text-transform: uppercase;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	body {
		background: #f4f4f4;
	}

		body.is-loading *,
		body.is-loading *:before,
		body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

/* Type */

	body, input, select, textarea {
		color: #333333;
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 14pt;
		font-weight: 400;
		line-height: 1.75;
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 980px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 480px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

	a {
		-moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
		-webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
		-ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
		transition: color 0.2s ease, border-bottom-color 0.2s ease;
		border-bottom: dotted 1px rgba(160, 160, 160, 0.65);
		color: inherit;
		text-decoration: none;
	}

		a:before {
			-moz-transition: color 0.2s ease;
			-webkit-transition: color 0.2s ease;
			-ms-transition: color 0.2s ease;
			transition: color 0.2s ease;
		}

		a:hover {
			border-bottom-color: transparent;
			color: #D21643 !important;
		}

			a:hover:before {
				color: #D21643 !important;
			}

	strong, b {
		color: #333333;
		font-weight: 700;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #3c3b3b;
		font-family: "Raleway", Helvetica, sans-serif;
		font-weight: 800;
		letter-spacing: 0.25em;
		line-height: 1.65;
		margin: 0 0 1em 0;
		text-transform: uppercase;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			border-bottom: 0;
		}

    h1 {
        font-size: 1.3em;
    }

	h2 {
		font-size: 1.1em;
	}

	h3 {
		font-size: 0.9em;
	}

	h4 {
		font-size: 0.7em;
	}

	h5 {
		font-size: 0.7em;
	}

	h6 {
		font-size: 0.7em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	blockquote {
		border-left: solid 4px rgba(160, 160, 160, 0.3);
		font-style: italic;
		margin: 0 0 2em 0;
		padding: 0.5em 0 0.5em 2em;
	}

		blockquote p {
				margin-bottom: 0;
		}

	code {
		background: rgba(160, 160, 160, 0.075);
		border: solid 1px rgba(160, 160, 160, 0.3);
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2em 0;
		display: table;
    table-layout: fixed;
    width: 100%
	}

		pre code {
			display: block;
			line-height: 1.75em;
			padding: 1em 1.5em;
			overflow-x: auto;
		}

	hr {
		border: 0;
		border-bottom: solid 1px rgba(160, 160, 160, 0.3);
		margin: 2em 0;
	}

		hr.major {
			margin: 3em 0;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

/* Author and Format */

	.author, .format {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: row;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-moz-justify-content: -moz-flex-end;
		-webkit-justify-content: -webkit-flex-end;
		-ms-justify-content: -ms-flex-end;
		justify-content: flex-end;
		border-bottom: 0;
		font-family: "Raleway", Helvetica, sans-serif;
		font-size: 0.6em;
		font-weight: 400;
		letter-spacing: 0.25em;
		text-transform: uppercase;
		white-space: nowrap;
	}

		.author .name, .format .name {
			-moz-transition: border-bottom-color 0.2s ease;
			-webkit-transition: border-bottom-color 0.2s ease;
			-ms-transition: border-bottom-color 0.2s ease;
			transition: border-bottom-color 0.2s ease;
			border-bottom: dotted 1px rgba(160, 160, 160, 0.65);
			display: block;
			margin: 0 1.5em 0 0;
		}

		.author img, .format img {
			border-radius: 100%;
			display: block;
			width: 4em;
		}

		.author:hover .name, .format:hover .name {
			border-bottom-color: transparent;
		}

/* Box */

	.box {
		border: solid 1px rgba(160, 160, 160, 0.3);
		margin-bottom: 2em;
		padding: 1.5em;
	}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
		-webkit-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
		-ms-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
		transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
		background-color: transparent;
		border: solid 1px rgba(160, 160, 160, 0.3);
		color: #3c3b3b;
		cursor: pointer;
		display: inline-block;
		font-family: "Raleway", Helvetica, sans-serif;
		font-size: 0.6em;
		font-weight: 800;
		height: 4.8125em;
		letter-spacing: 0.25em;
		line-height: 4.8125em;
		padding: 0 2.5em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		.button:hover {
			border: solid 1px #2ebaae;
			color: #2ebaae !important;
		}

			input[type="submit"]:hover:active,
			input[type="reset"]:hover:active,
			input[type="button"]:hover:active,
			.button:hover:active {
				background-color: rgba(46, 186, 174, 0.05);
			}

		input[type="submit"]:before,
		input[type="submit"]:after,
		input[type="reset"]:before,
		input[type="reset"]:after,
		input[type="button"]:before,
		input[type="button"]:after,
		.button:before,
		.button:after {
			color: #aaaaaa;
			position: relative;
		}

		input[type="submit"]:before,
		input[type="reset"]:before,
		input[type="button"]:before,
		.button:before {
			left: -1em;
			padding: 0 0 0 0.75em;
		}

		input[type="submit"]:after,
		input[type="reset"]:after,
		input[type="button"]:after,
		.button:after {
			left: 1em;
			padding: 0 0.75em 0 0;
		}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		.button.fit {
			display: block;
			margin: 0 0 1em 0;
			width: 100%;
		}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		.button.big {
			font-size: 0.7em;
			padding: 0 3em;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		.button.small {
			font-size: 0.5em;
		}

		input[type="submit"].disabled,
		input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		.button.disabled,
		.button:disabled {
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			color: rgba(160, 160, 160, 0.3) !important;
		}

			input[type="submit"].disabled:before,
			input[type="submit"]:disabled:before,
			input[type="reset"].disabled:before,
			input[type="reset"]:disabled:before,
			input[type="button"].disabled:before,
			input[type="button"]:disabled:before,
			.button.disabled:before,
			.button:disabled:before {
				color: rgba(160, 160, 160, 0.3) !important;
			}

/* Form */

	form {
		margin: 0 0 2em 0;
	}

		form.search,
		form.contact {
			text-decoration: none;
			position: relative;
		}

			form.search:before,
			form.contact:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
				color: #aaaaaa;
				content: '\f002';
				display: block;
				height: 2.75em;
				left: 0;
				line-height: 2.75em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 2.5em;
			}

			form.search > input:first-child,
			form.contact > input:first-child {
				padding-left: 2.5em;
			}

	label {
		color: #3c3b3b;
		display: block;
		font-size: 0.9em;
		font-weight: 700;
		margin: 0 0 1em 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: rgba(160, 160, 160, 0.075);
		border: none;
		border: solid 1px rgba(160, 160, 160, 0.3);
		border-radius: 0;
		color: inherit;
		display: block;
		outline: 0;
		margin: .25em 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:hover,
		input[type="password"]:hover,
		input[type="email"]:hover,
		input[type="tel"]:hover,
		select:hover,
		textarea:hover {
			-webkit-transition:border-color 0.3s ease-in-out;
			-moz-transition:border-color 0.3s ease-in-out;
			transition:border-color 0.3s ease-in-out;
			border-color: #2ebaae;
		}

		input[type="text"]:focus,
		input[type="text"]:active,
		input[type="password"]:focus,
		input[type="password"]:active,
		input[type="email"]:focus,
		input[type="email"]:active,
		input[type="tel"]:focus,
		input[type="tel"]:active,
		select:focus,
		select:active,
		textarea:focus,
		textarea:active {
			border: solid 1px #2ebaae;
		}

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
			color: rgba(160, 160, 160, 0.3);
			content: '\f078';
			display: block;
			height: 2.75em;
			line-height: 2.75em;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 2.75em;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 2.75em;
	}

	textarea {
		height: 5em;
	}

	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
		z-index: -1;
	}

		input[type="radio"] + label {
			text-decoration: none;
			color: #646464;
			cursor: pointer;
			display: inline-block;
			font-size: 1em;
			font-weight: 400;
			padding-left: 2.4em;
			padding-right: 0.75em;
			position: relative;
		}

			input[type="radio"] + label:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
				background: rgba(160, 160, 160, 0.075);
				border: solid 1px rgba(160, 160, 160, 0.3);
				content: '';
				display: inline-block;
				height: 1.65em;
				left: 0;
				line-height: 1.58125em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 1.65em;
			}

			input[type="radio"]:checked + label:before {
				background: #3c3b3b;
				border-color: #3c3b3b;
				color: #ffffff;
				content: '\f00c';
			}

			input[type="radio"]:focus + label:before {
				border: solid 1px #2ebaae;
			}

	input[type="radio"] + label:before {
		border-radius: 100%;
	}

	::-webkit-input-placeholder {
		color: #aaaaaa !important;
		opacity: 1.0;
	}

	:-moz-placeholder {
		color: #aaaaaa !important;
		opacity: 1.0;
	}

	::-moz-placeholder {
		color: #aaaaaa !important;
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		color: #aaaaaa !important;
		opacity: 1.0;
	}

	.formerize-placeholder {
		color: #aaaaaa !important;
		opacity: 1.0;
	}

/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

		.icon.suffix:before {
			float: right;
		}

/* Image */

	.image {
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			display: block;
		}

		.image.left,
		.image.right,
		.image.center {
			max-width: 40%;
		}

			.image.left img,
			.image.right img,
			.image.center img {
				width: 100%;
			}

		.image.left {
			float: left;
			padding: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			padding: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.center {
				display: block;
				margin: auto;
				clear: both;
		}

		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.featured {
			display: block;
			margin: 0 0 3em 0;
			width: 100%;
		}

			.image.featured img {
				width: 100%;
			}

			@media screen and (max-width: 736px) {

				.image.featured {
					margin: 0 0 1.5em 0;
				}

			}

		.image.main {
			display: block;
			margin: 0 0 3em 0;
			width: 100%;
		}

			.image.main img {
				width: 100%;
			}

/* List */

	ul.task-list {
		list-style: none;
	}

	.task-list-item {
		position: relative;
		top: -1px;
	}

	ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px rgba(160, 160, 160, 0.3);
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
			margin-top: 1em;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li > * {
					text-decoration: none;
					border: 0;
				}

					ul.icons li > *:before {
						-moz-osx-font-smoothing: grayscale;
						-webkit-font-smoothing: antialiased;
						font-family: FontAwesome;
						font-style: normal;
						font-weight: normal;
						text-transform: none !important;
					}

					ul.icons li > * .label {
						display: none;
					}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			ul.actions.pagination .button {
			    background: white;
					line-height: 2.5em;
	        height: auto;
	        white-space: normal;
	        padding-top: 1em;
	        padding-bottom: 1em;
			}

			ul.actions.pagination .next {
				text-decoration: none;
			}

				ul.actions.pagination .next:after {
					content: "";
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-transform: none !important;
				}

				ul.actions.pagination .next:after {
					content: '\f054';
				}

			ul.actions.pagination .previous {
				text-decoration: none;
			}

				ul.actions.pagination .previous:before {
					content: "";
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-transform: none !important;
				}

				ul.actions.pagination .previous:before {
					content: '\f053';
				}

			@media screen and (max-width: 980px) {

				ul.actions.pagination {
					text-align: center;
				}

					ul.actions.pagination .next, ul.actions.pagination .previous {
						min-width: 20em;
					}

			}

			@media screen and (max-width: 736px) {

				ul.actions.pagination .next, ul.actions.pagination .previous {
					min-width: 18em;
				}

			}

			ul.actions.small li {
				padding: 0 1em 0 0;
			}

			ul.actions.vertical li {
				display: block;
				padding: 1.5em 0 0 0;
			}

				ul.actions.vertical li:first-child {
					padding-top: 0;
				}

				ul.actions.vertical li > * {
					margin-bottom: 0;
				}

			ul.actions.vertical.small li {
				padding: 1em 0 0 0;
			}

				ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}

			ul.actions.fit {
				display: table;
				margin-left: -1em;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1em);
			}

				ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1em;
				}

					ul.actions.fit li > * {
						margin-bottom: 0;
					}

				ul.actions.fit.small {
					margin-left: -0.5em;
					width: calc(100% + 0.5em);
				}

					ul.actions.fit.small li {
						padding: 0 0 0 0.5em;
					}

			@media screen and (max-width: 480px) {

				ul.actions {
					margin: 0 0 2em 0;
				}

					ul.actions li {
						padding: 1em 0 0 0;
						display: block;
						text-align: center;
						width: 100%;
					}

						ul.actions li:first-child {
							padding-top: 0;
						}

						ul.actions li > * {
							width: 100%;
							margin: 0 !important;
						}

					ul.actions.small li {
						padding: 0.5em 0 0 0;
					}

						ul.actions.small li:first-child {
							padding-top: 0;
						}

			}

		ul.posts {
			list-style: none;
			padding: 0;
		}

			ul.posts li {
				border-top: dotted 1px rgba(160, 160, 160, 0.3);
				margin: 0.5em 0 0 0;
				padding: 0.5em 0 0 0;
			}

				ul.posts li:first-child {
					border-top: 0;
					margin-top: 0;
					padding-top: 0;
				}

			ul.posts article {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-align-items: -moz-flex-start;
				-webkit-align-items: -webkit-flex-start;
				-ms-align-items: -ms-flex-start;
				align-items: flex-start;
				-moz-flex-direction: row-reverse;
				-webkit-flex-direction: row-reverse;
				-ms-flex-direction: row-reverse;
				flex-direction: row-reverse;
			}

				ul.posts article .image {
					display: block;
					margin-right: 1.5em;
					min-width: 4em;
					width: 4em;
				}

					ul.posts article .image img {
						width: 100%;
					}

				ul.posts article header {
					-moz-flex-grow: 1;
					-webkit-flex-grow: 1;
					-ms-flex-grow: 1;
					flex-grow: 1;
					-ms-flex: 1;
				}

					ul.posts article header h3 {
						font-size: 0.7em;
						margin-top: 0.125em;
					}

					ul.posts article header .published {
						display: block;
						font-family: "Raleway", Helvetica, sans-serif;
						font-size: 0.6em;
						font-weight: 400;
						letter-spacing: 0.25em;
						margin: -0.625em 0 1.7em 0;
						text-transform: uppercase;
					}

					ul.posts article header > :last-child {
						margin-bottom: 0;
					}

	dl {
		margin: 0 0 2em 0;
	}

		dl dt {
			display: block;
			font-weight: 700;
			margin: 0 0 1em 0;
		}

		dl dd {
			margin-left: 2em;
		}

/* Mini Post */

	.mini-post {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column-reverse;
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
		background: #ffffff;
		border: solid 1px rgba(160, 160, 160, 0.3);
		margin: 0 0 2em 0;
	}

		.mini-post .image {
			overflow: hidden;
			width: 100%;
		}

			.mini-post .image img {
				-moz-transition: -moz-transform 0.2s ease-out;
				-webkit-transition: -webkit-transform 0.2s ease-out;
				-ms-transition: -ms-transform 0.2s ease-out;
				transition: transform 0.2s ease-out;
				width: 100%;
			}

			.mini-post .image:hover img {
				-moz-transform: scale(1.05);
				-webkit-transform: scale(1.05);
				-ms-transform: scale(1.05);
				transform: scale(1.05);
			}

			.mini-post .image.featured {
					margin: 0;
			}

		.mini-post header {
			padding: 1.25em 4.25em 0.1em 1.25em ;
			min-height: 4em;
			position: relative;
			-moz-flex-grow: 1;
			-webkit-flex-grow: 1;
			-ms-flex-grow: 1;
			flex-grow: 1;
		}

			.mini-post header h3 {
				font-size: 0.7em;
			}

			.mini-post header .published {
				display: block;
				font-family: "Raleway", Helvetica, sans-serif;
				font-size: 0.6em;
				font-weight: 400;
				letter-spacing: 0.25em;
				margin: -0.625em 0 1.7em 0;
				text-transform: uppercase;
			}

			.mini-post header .author, .mini-post header .format {
				position: absolute;
				right: 2em;
				top: 2em;
			}

	.mini-posts {
		margin: 0 0 2em 0;
	}

		@media screen and (max-width: 980px) {

			.mini-posts .posts-container {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-flex-wrap: wrap;
				-webkit-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				justify-content: space-between;
				width: 100%;
			}

				.mini-posts .posts-container > * {
					margin: 2em 0 0 0;
					width: 24%;
					margin-top: 0;
				}

		}

		@media screen and (max-width: 800px) {


			.mini-posts .posts-container > * {
				margin: 0 0 2em 0;
				width: 49%;
			}

		}

		@media screen and (max-width: 480px) {

				.mini-posts .posts-container > * {
					margin: 0 0 2em 0;
					width: 100%;
				}

		}

/* Post */

	.post {
		padding: 3em 3em 1em 3em ;
		background: #ffffff;
		border: solid 1px rgba(160, 160, 160, 0.3);
		margin: 0 0 2em 0;
		position: relative;
	}

		.post > header {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			border-bottom: solid 1px rgba(160, 160, 160, 0.3);
			left: -3em;
			margin: -3em 0 3em 0;
			position: relative;
			width: calc(100% + 6em);
		}

			.post > header .title {
				-moz-flex-grow: 1;
				-webkit-flex-grow: 1;
				-ms-flex-grow: 1;
				flex-grow: 1;
				-ms-flex: 1;
				padding: 3.75em 3em 3.3em 3em;
			}

				.post > header .title h1 {
						font-weight: 900;
						font-size: 1.5em;
				}

				.post > header .title h2 {
					font-weight: 900;
					font-size: 1.5em;
				}

				.post > header .title > :last-child {
					margin-bottom: 0;
				}

			.post > header .meta {
				padding: 3.75em 3em 1.75em 3em ;
				border-left: solid 1px rgba(160, 160, 160, 0.3);
				min-width: 17em;
				text-align: right;
				width: 17em;
			}

				.post > header .meta > * {
					margin: 0 0 1em 0;
				}

				.post > header .meta > :last-child {
					margin-bottom: 0;
				}

				.post > header .meta .published {
					color: #3c3b3b;
					display: block;
					font-family: "Raleway", Helvetica, sans-serif;
					font-size: 0.7em;
					font-weight: 800;
					letter-spacing: 0.25em;
					margin-top: 0.5em;
					text-transform: uppercase;
					white-space: nowrap;
				}

		#content img {
        max-width: 100%;
    }

    #content p a,
		#content ul li a {
        border-bottom: dotted 2px rgba(160,160,160,.65);
    }

        #content p a:hover {
            border-bottom-color: transparent;
        }

    #content blockquote,
		#content p,
		#content ul{
        margin: 1em 0;
    }

		.post > .image.featured {
			overflow: hidden;
		}

			.post > .image.featured img {
				-moz-transition: -moz-transform 0.2s ease-out;
				-webkit-transition: -webkit-transform 0.2s ease-out;
				-ms-transition: -ms-transform 0.2s ease-out;
				transition: transform 0.2s ease-out;
			}

			.post > .image.featured:hover img {
				-moz-transform: scale(1.05);
				-webkit-transform: scale(1.05);
				-ms-transform: scale(1.05);
				transform: scale(1.05);
			}

		.post > footer {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-align-items: center;
			-webkit-align-items: center;
			-ms-align-items: center;
			align-items: center;
		}

			.post > footer .actions {
				-moz-flex-grow: 1;
				-webkit-flex-grow: 1;
				-ms-flex-grow: 1;
				flex-grow: 1;
			}

			.post > footer .stats {
				cursor: default;
				list-style: none;
				padding: 0;
			}

        .post > footer .stats li,
        .post > footer .stats li ul {
          margin: 0;
          padding-left: 0;
        }
				.post > footer .stats li ul li {
					border-left: solid 1px rgba(160, 160, 160, 0.3);
					display: inline-block;
					font-family: "Raleway", Helvetica, sans-serif;
					font-size: 0.6em;
					font-weight: 400;
					letter-spacing: 0.25em;
					line-height: 1;
					margin: 0 0 0 1em;
					padding: 0 0 0 1em;
					text-transform: uppercase;
				}

					.post > footer .stats li ul li:first-child {
						border-left: 0;
						margin-left: 0;
						padding-left: 0;
					}

					.post > footer .stats li ul li .icon {
						border-bottom: 0;
					}

						.post > footer .stats li ul li .icon:before {
							color: rgba(160, 160, 160, 0.3);
							margin-right: 0.75em;
						}

		@media screen and (max-width: 980px) {

			.post {
				border-left: 0;
				border-right: 0;
				left: -3em;
				width: calc(100% + (3em * 2));
			}

				.post > header {
					-moz-flex-direction: column;
					-webkit-flex-direction: column;
					-ms-flex-direction: column;
					flex-direction: column;
					padding: 3.75em 3em 1.25em 3em ;
					border-left: 0;
				}

					.post > header .title {
						-ms-flex: 0 1 auto;
						margin: 0 0 2em 0;
						padding: 0;
						text-align: center;
					}

					.post > header .meta {
						-moz-align-items: center;
						-webkit-align-items: center;
						-ms-align-items: center;
						align-items: center;
						display: -moz-flex;
						display: -webkit-flex;
						display: -ms-flex;
						display: flex;
						-moz-justify-content: center;
						-webkit-justify-content: center;
						-ms-justify-content: center;
						justify-content: center;
						border-left: 0;
						margin: 0 0 2em 0;
						padding-top: 0;
						padding: 0;
						text-align: left;
						width: 100%;
					}

						.post > header .meta > * {
							border-left: solid 1px rgba(160, 160, 160, 0.3);
							margin-left: 2em;
							padding-left: 2em;
						}

						.post > header .meta > :first-child {
							border-left: 0;
							margin-left: 0;
							padding-left: 0;
						}

						.post > header .meta .published {
							margin-bottom: 0;
							margin-top: 0;
						}

						.post > header .meta .author {
							-moz-flex-direction: row-reverse;
							-webkit-flex-direction: row-reverse;
							-ms-flex-direction: row-reverse;
							flex-direction: row-reverse;
							margin-bottom: 0;
						}

							.post > header .meta .author .name {
								margin: 0 0 0 1.5em;
							}

							.post > header .meta .author img {
								width: 3.5em;
							}

		}

		@media screen and (max-width: 736px) {

			.post {
				padding: 1.5em 1.5em 0.1em 1.5em ;
				left: -1.5em;
				margin: 0 0 2em 0;
				width: calc(100% + (1.5em * 2));
			}

				.post > header {
					padding: 3em 1.5em 0.5em 1.5em ;
					left: -1.5em;
					margin: -1.5em 0 1.5em 0;
					width: calc(100% + 3em);
				}

					.post > header .title h1 {
						font-size: 1.1em;
					}

					.post > header .title h2 {
						font-size: 1.1em;
					}

		}

		@media screen and (max-width: 480px) {

			.post > header .meta {
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
			}

				.post > header .meta > * {
					border-left: 0;
					margin: 1em 0 0 0;
					padding-left: 0;
				}

				.post > header .meta .author .name {
					display: none;
				}

			.post > .image.featured {
				margin-left: -1.5em;
				margin-top: 0;
				width: calc(100% + 3em);
			}

			.post > footer {
				-moz-align-items: stretch;
				-webkit-align-items: stretch;
				-ms-align-items: stretch;
				align-items: stretch;
				-moz-flex-direction: column-reverse;
				-webkit-flex-direction: column-reverse;
				-ms-flex-direction: column-reverse;
				flex-direction: column-reverse;
			}

				.post > footer .stats {
					text-align: center;
				}

					.post > footer .stats li ul li {
						margin: 0 0 0 1.25em;
						padding: 0 0 0 1.25em;
					}

		}

	/* itemized */

		.itemized {
			padding: 1.5em 3em 1.5em 3em ;
			background: #ffffff;
			border: solid 1px rgba(160, 160, 160, 0.3);
			margin: .5em 0em;
			position: relative;
		}

			.itemized > header {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				border-bottom: solid 1px rgba(160, 160, 160, 0.3);
				left: -3em;
				margin: -1.5em 0 -1.5em 0;
				position: relative;
				width: calc(100% + 6em);
			}

				.itemized > header .title {
					align-items: center;
					-moz-flex-grow: 1;
					-webkit-flex-grow: 1;
					-ms-flex-grow: 1;
					flex-grow: 1;
					-m-flex: 1;
					padding: 1.5em 2.25em 1.5em 2.25em;
				}

					.itemized > header .title h2 {
						font-weight: 900;
						font-size: 1.25em;
					}

					.itemized > header .title p {
						text-transform: none;
						line-height: 1.75;
					}
					.itemized > header .title > :last-child {
						margin-bottom: 0;
					}

				.itemized > header .meta {
					align-items: center;
					padding: 1.5em 3em 1.5em 3em;
					border-left: solid 1px rgba(160, 160, 160, 0.3);
					min-width: 17em;
					text-align: right;
					width: 17em;
				}

					.itemized > header .meta > * {
						margin: 0 0 1em 0;
					}

					.itemized > header .meta > :last-child {
						margin-bottom: 0;
					}

					.itemized > header .meta .published {
						color: #3c3b3b;
						display: block;
						font-family: "Raleway", Helvetica, sans-serif;
						font-size: 0.7em;
						font-weight: 800;
						letter-spacing: 0.25em;
						margin-top: 0.5em;
						text-transform: uppercase;
						white-space: nowrap;
					}

			.itemized > .image.featured {
				overflow: hidden;
			}

				.itemized > .image.featured img {
					-moz-transition: -moz-transform 0.2s ease-out;
					-webkit-transition: -webkit-transform 0.2s ease-out;
					-ms-transition: -ms-transform 0.2s ease-out;
					transition: transform 0.2s ease-out;
				}

				.itemized > .image.featured:hover img {
					-moz-transform: scale(1.05);
					-webkit-transform: scale(1.05);
					-ms-transform: scale(1.05);
					transform: scale(1.05);
				}

			.itemized > footer {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
			}

				.itemized > footer .actions {
					-moz-flex-grow: 1;
					-webkit-flex-grow: 1;
					-ms-flex-grow: 1;
					flex-grow: 1;
				}

				.itemized > footer .stats {
					cursor: default;
					list-style: none;
					padding: 0;
				}

					.itemized > footer .stats li {
						border-left: solid 1px rgba(160, 160, 160, 0.3);
						display: inline-block;
						font-family: "Raleway", Helvetica, sans-serif;
						font-size: 0.6em;
						font-weight: 400;
						letter-spacing: 0.25em;
						line-height: 1;
						margin: 0 0 0 2em;
						padding: 0 0 0 2em;
						text-transform: uppercase;
					}

						.itemized > footer .stats li:first-child {
							border-left: 0;
							margin-left: 0;
							padding-left: 0;
						}

						.itemized > footer .stats li .icon {
							border-bottom: 0;
						}

							.itemized > footer .stats li .icon:before {
								color: rgba(160, 160, 160, 0.3);
								margin-right: 0.75em;
							}

			@media screen and (max-width: 980px) {

				.itemized {
					border-left: 0;
					border-right: 0;
					left: -3em;
					width: calc(100% + (3em * 2));
				}

					.itemized > header {
						-moz-flex-direction: column;
						-webkit-flex-direction: column;
						-ms-flex-direction: column;
						flex-direction: column;
						padding: 1em ;
						border-left: 0;
					}

						.itemized > header .title {
							-ms-flex: 0 1 auto;
							margin: 0 0 1em 0;
							padding: 0;
							text-align: center;
						}

						.itemized > header .meta {
							-moz-align-items: center;
							-webkit-align-items: center;
							-ms-align-items: center;
							align-items: center;
							display: -moz-flex;
							display: -webkit-flex;
							display: -ms-flex;
							display: flex;
							-moz-justify-content: center;
							-webkit-justify-content: center;
							-ms-justify-content: center;
							justify-content: center;
							border-left: 0;
							margin: 0 0 1em 0;
							padding-top: 0;
							padding: 0;
							text-align: left;
							width: 100%;
						}

							.itemized > header .meta > * {
								border-left: solid 1px rgba(160, 160, 160, 0.3);
								margin-left: 2em;
								padding-left: 2em;
							}

							.itemized > header .meta > :first-child {
								border-left: 0;
								margin-left: 0;
								padding-left: 0;
							}

							.itemized > header .meta .published {
								margin-bottom: 0;
								margin-top: 0;
							}

							.itemized > header .meta .author,
							.itemized > header .meta .format {
								-moz-flex-direction: row-reverse;
								-webkit-flex-direction: row-reverse;
								-ms-flex-direction: row-reverse;
								flex-direction: row-reverse;
								margin-bottom: 0;
							}

								.itemized > header .meta .author .name,
								.itemized > header .meta .format .name {
									margin: 0 0 0 1.5em;

								}

								.itemized > header .meta .author img,
								.itemized > header .meta .format img {
									width: 3.5em;
								}

			}

			@media screen and (max-width: 736px) {

				.itemized {
					padding: 0;
					left: -1.5em;
					margin: 0 0 1em 0;
					width: calc(100% + (1.5em * 2));
				}

					.itemized > header {
						padding: 3em 1.5em 0.5em 1.5em ;
						left: -1.5em;
						margin: -1.5em 0 0 0;
						width: calc(100% + 3em);
					}

						.itemized > header .title h2 {
							font-size: 1em;
						}

			}

			@media screen and (max-width: 480px) {

				.itemized > header .meta {
					-moz-align-items: center;
					-webkit-align-items: center;
					-ms-align-items: center;
					align-items: center;
					-moz-flex-direction: column;
					-webkit-flex-direction: column;
					-ms-flex-direction: column;
					flex-direction: column;
				}

					.itemized > header .meta > * {
						border-left: 0;
						padding-left: 0;
						margin-left: 0;
					}

					.itemized > header .meta .author .name {
						display: none;
					}

				.itemized > .image.featured {
					margin-left: -1.5em;
					margin-top: calc(-1.5em - 1px);
					width: calc(100% + 3em);
				}

				.itemized > footer {
					-moz-align-items: stretch;
					-webkit-align-items: stretch;
					-ms-align-items: stretch;
					align-items: stretch;
					-moz-flex-direction: column-reverse;
					-webkit-flex-direction: column-reverse;
					-ms-flex-direction: column-reverse;
					flex-direction: column-reverse;
				}

					.itemized > footer .stats {
						text-align: center;
					}

						.itemized > footer .stats li {
							margin: 0 0 0 1.25em;
							padding: 0 0 0 1.25em;
						}

			}

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	article.post header .title p,
	article.post header .meta p,
	article.post header .meta span,
	article.post footer .stats {
	    /* Theoretically for IE 8 & 9 (more valid) */
	    /* ...but not required as filter works too */
	    /* should come BEFORE filter */
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";

	    /* This works in IE 8 & 9 too */
	    /* ... but also 5, 6, 7 */
	    filter: alpha(opacity=70);

	    /* Modern Browsers */
	    opacity: 0.70;
	}

	    article.post p,
	    article.post ol,
	    article.post h2,
	    article.post h3,
	    article.post h4 {
	        color: #333333;
	        /* Theoretically for IE 8 & 9 (more valid) */
	        /* ...but not required as filter works too */
	        /* should come BEFORE filter */
	        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=87)";

	        /* This works in IE 8 & 9 too */
	        /* ... but also 5, 6, 7 */
	        filter: alpha(opacity=87);

	        /* Modern Browsers */
	        opacity: 0.87;
	    }

/* Table */

	table {
		text-align: center;
		width: 90%;
		margin: 1em auto;
		background-color: #fff;
		-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
		-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
		border: 0;
	}

		table > thead {
			background-color: #ececec;
		}

			table > thead > tr,
			table > tbody > tr,
			table > tfoot > tr {
				-webkit-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}

				table > thead > tr > th,
				table > tbody > tr > th,
				table > tfoot > tr > th,
				table > thead > tr > td,
				table > tbody > tr > td,
				table > tfoot > tr > td {
					vertical-align: middle;
					padding: 0.5em;
					-webkit-transition: all 0.3s ease;
					-o-transition: all 0.3s ease;
					transition: all 0.3s ease;
					border: 0;
					border-bottom: 1px solid #e0e0e0;
				}

				table > thead > tr > th,
				table > thead > tr > td {
					text-align: center;
					border-bottom-width: 2px;
					font-weight: bold;
				}

					table > thead > tr > th:first-child,
					table > thead > tr > td:first-child,
					table > tbody > tr > td:first-child {
						border-right: 2px solid #e0e0e0;
						font-weight: bold;
					}

	@media screen and (min-width: 715px) {

		table > tbody > tr:hover > td,
		table > tbody > tr:hover > th {
			background-color: RGBA(46, 186, 174, .3);
		}

		table > tbody > tr:nth-child(even) > td,
		table > tbody > tr:nth-child(even) > th {
			background-color: #f4f4f4;
		}
	}

	@media screen and (max-width: 715px) {

		table {
			width: 75%;
			margin: auto;
			background-color: transparent;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			border: 0;
		}

			table > thead,
			table > tfoot {
				display: none;
			}

			table > tbody {
				display: block;
				border: none;
			}

				table > tbody > tr,
				table > tbody > tr.active {
					display: block;
					border: 1px solid #e0e0e0;
				}

					table > tbody > tr > td {
						background-color: #ffffff;
						display: block;
						text-align: right;
					}

						table > tbody > tr > td[data-header]:before {
							content: attr(data-header);
							float: left;
							font-size: inherit;
							font-weight: bold;
							color: #757575;
						}

						table > tbody > tr > td:first-child {
							text-align: left;
							font-weight: bold;
							background-color: #ececec;
							border-right: 1px solid #e0e0e0;
						}

							table > tbody > tr > td:first-child:after {
								float: right;
								content: "\f107";
								font-family: FontAwesome;
								font-style: normal;
								font-weight: normal;
								text-decoration: inherit;
								transition: all .35s;
							}

							table > tbody > tr > td:first-child:hover {
								background-color: RGBA(0, 0, 0, .2);
							}

						table > tbody > tr > td:not(:first-child) {
							opacity: 0;
							position: absolute;
							z-index: -1;
							-webkit-transition: none;
							-moz-transition: none;
							-o-transition: none;
							-ms-transition: none;
							transition: none;
						}

							table > tbody > tr > td:not(:first-child):hover {
								background-color: RGBA(46, 186, 174, .3);
							}

			table > tbody > tr.active > td:first-child {
				border-bottom: 2px solid #e0e0e0;
			}

				table > tbody > tr.active > td:first-child:after {
					transform: rotateX(180deg);
				}

			table > tbody > tr.active > td:not(:first-child) {
				opacity: 1;
				position: relative;
				z-index: auto;
				-webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
				-ms-transition: all 0.5s ease;
				transition: all 0.5s ease;
			}

			table > tbody > tr.active > td:last-child {
				border-bottom: 0;
			}
	}

/* Fancybox */

  .fancybox {
    max-width: 85%;
    width: fit-content;
    /* padding: .5em; */
    /* background: #ddd; */
    margin: auto;
  }

      .fancybox a {
        border: 0;
      }

      .fancybox .caption {
        margin: 0;
        line-height: .5em;
        color: #777;
        text-align: center;
        font-style: italic;
      }

/* Staticman Comments */

  .post-comment {
    position: relative;
    margin-bottom: 3em;
    padding-left: 4.5em;
    font-size: .8em;
  }

    .post-comment-avatar {
      float: left;
      width: 3.25em;
      height: 3.25em;
      margin-right: .5em;
    }

    .post-comment-author {
      display: inline-block;
      margin: 0 0 .25em;
      font-size: 1.25em;
      line-height: 1;
    }

      .post-comment-author a {
        color: inherit;
        text-decoration: none;
      }

    .post-comment-timestamp {
      font-size: .8em;
    }

      .post-comment-timestamp a {
        color: inherit;
        text-decoration: none;
      }

    .post-comment-content {
      margin: 1.5em 0 0 3.75em;
    }

      .post-comment-content > figure,
      .post-comment-content > ol,
      .post-comment-content > p,
      .post-comment-content > table,
      .post-comment-content > ul {
        margin-bottom: 1.5em;
      }

/* Header */

	body {
		padding-top: 3.5em;
	}

	#header {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		background-color: #ffffff;
		border-bottom: solid 1px rgba(160, 160, 160, 0.3);
		height: 3.5em;
		left: 0;
		line-height: 3.5em;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10000;
	}

		#header a {
			color: inherit;
			text-decoration: none;
		}

		#header ul {
			list-style: none;
			margin: 0;
			padding-left: 0;
		}

			#header ul li {
				display: inline-block;
				padding-left: 0;
			}

		#header h1 {
			height: inherit;
			line-height: inherit;
			padding: 0 0 0 1.5em;
			white-space: nowrap;
			min-width: 12.4em;
		}

			#header h1 a {
				font-size: 0.7em;
			}

		#header h2 {
		    font-size: inherit;
		    height: inherit;
		    line-height: inherit;
		    padding: 0 0 0 1.5em;
		    white-space: nowrap;
		}

			#header h2 a {
	        font-size: 0.7em;
	    }

	    @media screen and (max-width: 736px) {
	        #header h2 {
	            padding: 0 0 0 1em;
	        }
	    }

		#header .links {
			-moz-flex: 1;
			-webkit-flex: 1;
			-ms-flex: 1;
			flex: 1;
			border-left: solid 1px rgba(160, 160, 160, 0.3);
			height: inherit;
			line-height: inherit;
			margin-left: 1.5em;
			overflow: hidden;
			padding-left: 1.5em;
		}

			#header .links a {
					/* Theoretically for IE 8 & 9 (more valid) */
					/* ...but not required as filter works too */
					/* should come BEFORE filter */
					-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";

					/* This works in IE 8 & 9 too */
					/* ... but also 5, 6, 7 */
					filter: alpha(opacity=65);

					/* Modern Browsers */
					opacity: 0.65;
			}

			#header .links ul li {
				border-left: solid 1px rgba(160, 160, 160, 0.3);
				line-height: 1;
				margin-left: 1em;
				padding-left: 1em;
			}

				#header .links ul li:first-child {
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}

				#header .links ul li a {
					border-bottom: 0;
					font-family: "Raleway", Helvetica, sans-serif;
					font-size: 0.7em;
					font-weight: 400;
					letter-spacing: 0.25em;
					text-transform: uppercase;
				}

		#header .main {
			height: inherit;
			line-height: inherit;
			text-align: right;
		}

			#header .main ul {
				height: inherit;
				line-height: inherit;
			}

				#header .main ul li {
					border-left: solid 1px rgba(160, 160, 160, 0.3);
					height: inherit;
					line-height: inherit;
					white-space: nowrap;
				}

					#header .main ul li > * {
						display: block;
						float: left;
					}

					#header .main ul li > a {
						text-decoration: none;
						border-bottom: 0;
						color: #aaaaaa;
						overflow: hidden;
						position: relative;
						text-indent: 4em;
						width: 4em;
						color: #333333;
						/* Theoretically for IE 8 & 9 (more valid) */
						/* ...but not required as filter works too */
						/* should come BEFORE filter */
						-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";

						/* This works in IE 8 & 9 too */
						/* ... but also 5, 6, 7 */
						filter: alpha(opacity=35);

						/* Modern Browsers */
						opacity: 0.35;
					}

						#header .main ul li > a:before {
							-moz-osx-font-smoothing: grayscale;
							-webkit-font-smoothing: antialiased;
							font-family: FontAwesome;
							font-style: normal;
							font-weight: normal;
							text-transform: none !important;
						}

						#header .main ul li > a:before {
							display: block;
							height: inherit;
							left: 0;
							line-height: inherit;
							position: absolute;
							text-align: center;
							text-indent: 0;
							top: 0;
							width: inherit;
						}

		#header form {
			margin: 0;
		}

			#header form input {
				display: inline-block;
				height: 2.5em;
				position: relative;
				top: -2px;
				vertical-align: middle;
			}

		#header #search {
			-moz-transition: all 0.5s ease;
			-webkit-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			transition: all 0.5s ease;
			max-width: 0;
			opacity: 0;
			overflow: hidden;
			padding: 0;
			white-space: nowrap;
		}

			#header #search input {
				color: #333333;
				width: 12em;
			}

			#header #search.visible {
				max-width: 12.5em;
				opacity: 1;
				padding: 0 0.5em 0 0;
			}

		@media screen and (min-width: 980px) {

				#header .menu {
					display: none;
				}

			}

		@media screen and (max-width: 980px) {

			#header .links {
				display: none;
			}

		}

		@media screen and (max-width: 736px) {

			#header {
				height: 2.75em;
				line-height: 2.75em;
			}

				#header h1 {
					padding: 0 0 0 1em;
				}

				#header .main .search {
					display: none;
				}

		}

		@media screen and (max-width: 320px) {
			#header h1 {
				min-width: 0;
				padding: 0 0 0 .5em;
			}
		}

/* Wrapper */

	#wrapper {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: row-reverse;
		-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
		-moz-transition: opacity 0.5s ease;
		-webkit-transition: opacity 0.5s ease;
		-ms-transition: opacity 0.5s ease;
		transition: opacity 0.5s ease;
		margin: 0 auto;
		max-width: 100%;
		opacity: 1;
		padding: 4.5em;
		width: 90em;
		overflow: hidden;
	}

		body.is-menu-visible #wrapper {
			opacity: 0.15;
		}

		@media screen and (max-width: 1680px) {

			#wrapper {
				padding: 3em;
			}

		}

		@media screen and (max-width: 980px) {

			#wrapper {
				display: block;
			}

		}

		@media screen and (max-width: 736px) {

			#wrapper {
				padding: 1.5em;
			}

		}

/* Main */

	#main {
		-moz-flex-grow: 1;
		-webkit-flex-grow: 1;
		-ms-flex-grow: 1;
		flex-grow: 1;
		-ms-flex: 1;
		width: 100%;
	}

/* Sidebar */

	#sidebar {
		margin-right: 3em;
		min-width: 18em;
		width: 22em;
	}

		#sidebar > * {
			border-top: solid 1px rgba(160, 160, 160, 0.3);
			margin: 3em 0 0 0;
			padding: 3em 0 0 0;
		}

		#sidebar > :first-child {
			border-top: 0;
			margin-top: 0;
			padding-top: 0;
		}

		#sidebar #mini-bio p {
				/* Theoretically for IE 8 & 9 (more valid) */
				/* ...but not required as filter works too */
				/* should come BEFORE filter */
				-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";

				/* This works in IE 8 & 9 too */
				/* ... but also 5, 6, 7 */
				filter: alpha(opacity=65);

				/* Modern Browsers */
				opacity: 0.65;
				font-size: 0.9em;
				padding: 0;
		}

		@media screen and (max-width: 980px) {

			#sidebar {
				border-top: solid 1px rgba(160, 160, 160, 0.3);
				margin: 3em 0 0 0;
				min-width: 0;
				padding: 3em 0 0 0;
				width: 100%;
			}

		}

/* Intro */

	#intro {
		align-items: center;
		text-align: center;
	}

		#intro p,
		#intro .icons a {
				/* Theoretically for IE 8 & 9 (more valid) */
				/* ...but not required as filter works too */
				/* should come BEFORE filter */
				-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";

				/* This works in IE 8 & 9 too */
				/* ... but also 5, 6, 7 */
				filter: alpha(opacity=60);

				/* Modern Browsers */
				opacity: 0.6;
		}

		#intro .intro-circle {
		    border-radius: 50%;
		}

		#intro .logo {
			border-bottom: 0;
			display: inline-block;
			margin: 0 0 1em 0;
			overflow: hidden;
			position: relative;
			width: 4em;
		}

			#intro .logo:before {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100px' height='100px' viewBox='0 0 100 100' preserveAspectRatio='none' zoomAndPan='disable'%3E%3Cpolygon points='0,0 100,0 100,25 50,0 0,25' style='fill:%23f4f4f4' /%3E%3Cpolygon points='0,100 100,100 100,75 50,100 0,75' style='fill:%23f4f4f4' /%3E%3C/svg%3E");
				background-position: top left;
				background-repeat: no-repeat;
				background-size: 100% 100%;
				content: '';
				display: block;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}

			#intro .logo img {
				display: block;
				margin-left: -0.25em;
				width: 4.5em;
			}

		#intro header h2 {
			font-size: 1.5em;
			font-weight: 900;
		}

		#intro header p {
			font-size: 0.8em;
		}

	@media screen and (max-width: 980px) {

		#intro {
			margin: 0 0 3em 0;
			text-align: center;
		}

			#intro header h2 {
				font-size: 2em;
			}

			#intro header p {
				font-size: 0.7em;
			}

	}

	@media screen and (max-width: 736px) {

		#intro {
			margin: 0 0 1.5em 0;
			padding: 1.25em 0;
		}

			#intro > :last-child {
				margin-bottom: 0;
			}

			#intro .logo {
				margin: 0 0 0.5em 0;
			}

			#intro header h2 {
				font-size: 1.25em;
			}

			#intro header > :last-child {
				margin-bottom: 0;
			}

	}

/* Footer */

	#footer .icons {
		color: #aaaaaa;
		text-align: center;
		margin-top: 0;
		padding-top: 0
	}

	#footer .copyright {
		text-align: center;
		color: #aaaaaa;
		font-family: "Raleway", Helvetica, sans-serif;
		font-size: 0.5em;
		font-weight: 400;
		letter-spacing: 0.25em;
		text-transform: uppercase;
	}

/* Back To Top */

	#back-to-top {
	    background-color: white;
	    bottom: 5px;
	    color: #aaaaaa;
	    display: none;
	    position: fixed;
	    right: 5px;
	}

	    #back-to-top.btt-fade-out {
	        /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
	        -webkit-transition: opacity .3s 0s, visibility 0s 0s;
	        -moz-transition: opacity .3s 0s, visibility 0s 0s;
	        transition: opacity .3s 0s, visibility 0s 0s;
	        opacity: .5;
	    }

/* Menu */

	#menu {
		-moz-transform: translateX(25em);
		-webkit-transform: translateX(25em);
		-ms-transform: translateX(25em);
		transform: translateX(25em);
		-moz-transition: -moz-transform 0.5s ease, visibility 0.5s;
		-webkit-transition: -webkit-transform 0.5s ease, visibility 0.5s;
		-ms-transition: -ms-transform 0.5s ease, visibility 0.5s;
		transition: transform 0.5s ease, visibility 0.5s;
		-webkit-overflow-scrolling: touch;
		background: #ffffff;
		border-left: solid 1px rgba(160, 160, 160, 0.3);
		box-shadow: none;
		height: 100%;
		max-width: 80%;
		overflow-y: auto;
		position: fixed;
		right: 0;
		top: 0;
		visibility: hidden;
		width: 25em;
		z-index: 10002;
	}

		#menu > * {
			border-top: solid 1px rgba(160, 160, 160, 0.3);
			padding: 3em;
		}

			#menu > * > :last-child {
				margin-bottom: 0;
			}

		#menu > :first-child {
			border-top: 0;
		}

		#menu .links {
			list-style: none;
			padding: 0;
		}

			#menu .links > li {
				border: 0;
				border-top: dotted 1px rgba(160, 160, 160, 0.3);
				margin: 1.5em 0 0 0;
				padding: 1.5em 0 0 0;
			}

				#menu .links > li a {
					display: block;
					border-bottom: 0;
				}

					#menu .links > li a h3 {
						-moz-transition: color 0.2s ease;
						-webkit-transition: color 0.2s ease;
						-ms-transition: color 0.2s ease;
						transition: color 0.2s ease;
						font-size: 0.7em;
					}

					#menu .links > li a p {
						font-family: "Raleway", Helvetica, sans-serif;
						font-size: 0.6em;
						font-weight: 400;
						letter-spacing: 0.25em;
						margin-bottom: 0;
						text-decoration: none;
						text-transform: uppercase;
					}

					#menu .links > li a:hover h3 {
						color: #2ebaae;
					}

				#menu .links > li:first-child {
					border-top: 0;
					margin-top: 0;
					padding-top: 0;
				}

		body.is-menu-visible #menu {
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
			visibility: visible;
		}

		@media screen and (max-width: 736px) {

			#menu > * {
				padding: 1.5em;
			}

		}

/** Social Share Button**/

	#social-share {
   position: relative;
	  top: -0.5em;
	}

	  #social-share ul {
	    margin: 0;
	  }

	    #social-share ul li p {
	      display: none;
	    }

	#social-share .icons li {
	  padding: 0 !important;
	  padding-bottom: 10px !important;
	}



	  #social-share .share-btn {
	    padding: 0.5em;
	    width: 4em;
	  }

	    #social-share-nav .share-btn h3{
	      color: #ffffff;
	    }

	.share-btn {
	  display: inline-block;
	  color: #ffffff;
	  border: none;
	  border-radius: 4px;
	  box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
	  outline: none;
	  text-align: center;
	  text-decoration: none;
	}

	.share-btn:hover {
	    color: #ffffff !important;
	}

	.share-btn:active {
	    position: relative;
	    top: 2px;
	    box-shadow: none;
	    color: #e2e2e2;
	    outline: none;
	}

	.share-btn.twitter     { background: #55acee; }
	.share-btn.google-plus { background: #dd4b39; }
	.share-btn.facebook    { background: #3B5998; }
	.share-btn.linkedin    { background: #4875B4; }
	.share-btn.stumbleupon { background: #EB4823; }
	.share-btn.pinterest	 { background: #BD081C; }
	.share-btn.reddit      { background: #ff5700; }
	.share-btn.email       { background: #444444; }

	  .share-btn.twitter:hover     { background: #4c9ad6; }
	  .share-btn.google-plus:hover { background: #c64333; }
	  .share-btn.facebook:hover    { background: #2f4779; }
	  .share-btn.linkedin:hover    { background: #4069a2; }
	  .share-btn.stumbleupon:hover { background: #d3401f; }
		.share-btn.pinterest:hover   { background: #AD0000; }
	  .share-btn.reddit:hover      { background: #e54e00; }
	  .share-btn.email:hover       { background: #363636; }

/* Share Menu */

	body.is-share-visible #wrapper {
			opacity: 0.15;
	}

	body.is-share-visible #share-menu {
		-moz-transform: translateX(0);
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
		visibility: visible;
	}

		#share-menu {
			-moz-transform: translateX(25em);
			-webkit-transform: translateX(25em);
			-ms-transform: translateX(25em);
			transform: translateX(25em);
			-moz-transition: -moz-transform 0.5s ease, visibility 0.5s;
			-webkit-transition: -webkit-transform 0.5s ease, visibility 0.5s;
			-ms-transition: -ms-transform 0.5s ease, visibility 0.5s;
			transition: transform 0.5s ease, visibility 0.5s;
			-webkit-overflow-scrolling: touch;
			background: #ffffff;
			border-left: solid 1px rgba(160, 160, 160, 0.3);
			box-shadow: none;
			height: 100%;
			max-width: 80%;
			overflow-y: auto;
			position: fixed;
			right: 0;
			top: 0;
			visibility: hidden;
			width: 25em;
			z-index: 10002;
		}

			#share-menu > * {
				border-top: solid 1px rgba(160, 160, 160, 0.3);
				padding: 3em;
			}

				#share-menu > * > :last-child {
					margin-bottom: 0;
				}

			#share-menu > :first-child {
				border-top: 0;
			}

			#share-menu .links {
				list-style: none;
				padding: 0;
			}

				#share-menu .links > li {
					border: 0;
					border-top: dotted 1px rgba(160, 160, 160, 0.3);
					margin: 0.7em 0 0 0;
					padding: 1em 0 0 0;
				}

					#share-menu .links > li a {
						display: block;
						border-bottom: 0;
					}

						#share-menu .links > li a h3 {
							-moz-transition: color 0.2s ease;
							-webkit-transition: color 0.2s ease;
							-ms-transition: color 0.2s ease;
							transition: color 0.2s ease;
							font-size: 0.7em;
						}

						#share-menu .links > li a p {
							font-family: "Raleway", Helvetica, sans-serif;
							font-size: 0.6em;
							font-weight: 400;
							letter-spacing: 0.25em;
							margin-bottom: 0;
							text-decoration: none;
							text-transform: uppercase;
						}

						#share-menu .links > li a:hover h3 {
							color: #ffffff;
						}

					#share-menu .links > li:first-child {
						border-top: 0;
						margin-top: 0;
						padding-top: 0;
					}

			@media screen and (max-width: 736px) {

				#share-menu > * {
					padding: 1.5em;
				}

			}
