<header>
    <div class="title">
        {{ if $.Scratch.Get "h1" }}
            <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
            {{ $.Scratch.Set "h1" false }}
        {{ else }}
            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        {{ end }}
        {{ with .Description }}
            <p>{{ . }}</p>
        {{ end }}
    </div>
    <div class="meta p-5">
        <div class=" text-center p-4 text-black mb-4 mb-md-0" style="border: solid 1px rgba(160, 160, 160, 1)">
            <span class="h1 d-block">{{ .PublishDate.Format "2"}}</span> 
            <span class="h3">{{ .PublishDate.Format "Jan, 2006"}}</span>
        </div>

      {{ if isset .Params "link" }}
        <a href="{{ .Params.link }}" target="_blank">{{ .Params.linktitle }}</a>
      {{ end }}
    </div>
</header>
