{{ partial "header" . }}
    {{ $.Scratch.Set "shareNav" true }}
    {{ partial "navbar" . }}
    {{ $data := index .Site.Data }}
    <!-- Main -->
    <div id="main">
        {{ range first 1 (where .Site.Pages "Type" "about") }}
            <article class="post">
                <header>
                    <div class="title">
                        {{ if $.Scratch.Get "h1" }}
                            <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
                            {{ $.Scratch.Set "h1" false }}
                        {{ else }}
                            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                        {{ end }}
                    </div>
                </header>
                <div id="content">
                {{ .Content | truncate 500}}
                </div>
                <div class="col-12 mt-5 mb-3">
                  <a href="/acerca" class="button justify-content-center d-flex">Leer Mas</a>
                </div>
            </article>
            {{ partial "share-menu" . }}
        {{ end }}
        
        <!-- Canales de Slack -->
        {{ with $data.slack.slack_channel }}
        <article class="post">
            <header>
                <div class="title">
                        <h1>{{.title}}</h1>
                </div>
            </header>
            <div id="content" style="column-count: 3;text-align: justify;">
                {{ range .canales_slack }}
                <h2><a href="slack://{{ .url }}">{{ .name }}</a></h2>
                {{ end }}
            </div>
        </article>
        {{end}}

        <!-- Ultimos Posts -->
        <section class="recent-posts">
            <div class="mini-posts">
              <header class="d-flex mb-3">
                <div class="col-4 d-flex align-items-center">
                    <h3 class="m-0">Ultimos Posteos</h3>
                </div>
                <div class="col-4"></div>
                <div class="col-4 justify-content-end align-item-top d-flex">
                    <a href="/blog/" class="button">Ver Todos</a>
                </div>
              </header>
              <div class="posts-container d-flex">
                {{ $.Scratch.Set "recentPosts" .Site.Pages }}
    
        
                {{ range first 3 (where .Site.Pages "Type" "post" ) }}
                  <article class="mini-post col-4 p-2">
                    <header>
                      <h3>
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                      </h3>
                      {{ $.Scratch.Set "dateType" .Date }}
                      <time class="published" datetime='{{ ($.Scratch.Get "dateType").Format "2006-01-02" }}'>
                        {{ ($.Scratch.Get "dateType").Format "January 2, 2006" }}
                      </time>
                    </header>
                    <div class="image center m-0 d-flex" style="max-width: 100%;max-height:20vh; align-items: center;">
                      <a href="{{ .RelPermalink }}">
                        <img src="{{.Params.img | relURL }}" alt="{{ .Params.title }}" style="width:100%; ">
                      </a>
                    </div>
                  </article>
                {{ end }}
              </div>
                
            </div>
          </section>


    </div>
    {{ partial "sidebar" . }}
{{ partial "footer" . }}
